* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-image: linear-gradient(to right, red,orange,rgb(62, 232, 62),rgb(78, 78, 236),indigo,violet);
}

h1 {
    font-family: 'Grandstander', cursive;
    text-align: center;
    font-size: 75px;
    margin-top: 40px;
    margin-bottom: 15px;
    animation: btn1 4s 0.125ms infinite ease-in-out;
}

#pokemon-search-form {
    text-align: center;
}

#pokemon-type-filter {
    text-align: center;
}

a {
    text-decoration: none;
    color: #555555;
}

a:hover {
    color: rgb(0, 0, 0);
}

.type-filter {
    margin: 10px;
    ;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flip-card {
    margin: 20px;
    width: 210px;
    height: 290px;
     perspective: 100rem; 
   
}

.flip-card-inner {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 2s;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);

}


.front-pokemon-card,
.back-pokemon-card {
    align-items: center;
    backface-visibility: hidden;
}

.front-pokemon-card {
    z-index: 2;
    transform: rotateY(0);
}

.back-pokemon-card {
    transform: rotateY(180deg);
}

.front-pokemon-image,
.back-pokemon-image {
    position: relative;
    top: 50px;
}

.front-poke-id,
.back-poke-id {
    position: relative;
    top: -100px;
    background-color: lightgreen;
    color: #555555;
    width: 30%;
    margin-left: 35%;
    border-radius: 10px;
}

.front-pokemon-type {
    width: fit-content;
    padding: 5px;
    background-color: lightgreen;
    border-radius: 10px;
    position: relative;
    font-size: small;
    margin: auto;
}

#grass, #electric {
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

#bug, #psychic {
background-image: linear-gradient(140deg, #f37070 0%, #6284FF 50%, #FF0000 100%);

}

#fire, #fairy {
background-image: linear-gradient(130deg, #1be900 30%, #58baae 70%);

}

#ice, #water {
background-image: linear-gradient(80deg, #4b2084 0%, #c522e6 100%);

}


#poison, #fairy {
background-image: linear-gradient(62deg, #2410d3 0%, #08e738 100%);

}

#normal, #dragon {
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
}

#fighting, #ghost {
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
}

#rock, #ground {
background-image: linear-gradient(45deg, #85FFBD 40%, #FFFB7D 60%);

}


@keyframes btn1 {
    0% {
      color: rgb(249, 7, 249);
    }

    25% {
        color: blue;
    }

    50% {
        color: #33ccff;
    }

    75% {
        color: chartreuse;
    }
    100% {
        color: red;
    }
}